Repository lambdaclass/lambda_ethereum_consensus, pull requests merged in 2025-04, with the labels that each got.

#1404 refactor: move blob operations to blobs module
  .tool-versions
  Dockerfile
  lib/lambda_ethereum_consensus/beacon/pending_blocks.ex
  lib/lambda_ethereum_consensus/p2p/gossip/blob_sidecar.ex
  lib/lambda_ethereum_consensus/store/blobs.ex
  test/fixtures/blobs/blob_sidecar.ssz_snappy
  test/unit/blobs_test.exs
Labels: refactor

#1419 feat: electra get_attesting_indices changes + helper functions from predicates/misc.
  lib/lambda_ethereum_consensus/state_transition/accessors.ex
  lib/lambda_ethereum_consensus/state_transition/predicates.ex
  lib/types/beacon_chain/validator.ex
Labels: elixir, electra

#1425 refactor: move committee_attesters calculation to own function
  lib/lambda_ethereum_consensus/state_transition/accessors.ex
Labels: refactor, elixir

#1423 docs: add an electra implementation gap doc
  README.md
  docs/specs/electra/beacon-chain.md
  docs/specs/electra/fork.md
  docs/specs/electra/p2p-interface.md
  docs/specs/electra/validator.md
  electra-gap.md
Labels: documentation, electra

#1420 feat: electra process_registry_updates & slash_validators changes
  config/networks/mainnet/config.yaml
  config/networks/minimal/config.yaml
  config/presets/mainnet/electra.yaml
  config/presets/minimal/electra.yaml
  lib/lambda_ethereum_consensus/state_transition/accessors.ex
  lib/lambda_ethereum_consensus/state_transition/epoch_processing.ex
  lib/lambda_ethereum_consensus/state_transition/mutators.ex
  lib/lambda_ethereum_consensus/state_transition/operations.ex
Labels: elixir, electra

#1427 fix: skipped spec tests in electra
  test/spec/runners/bls.ex
  test/spec/runners/epoch_processing.ex
  test/spec/runners/finality.ex
  test/spec/runners/fork_choice.ex
  test/spec/runners/kzg.ex
  test/spec/runners/light_client.ex
  test/spec/runners/operations.ex
  test/spec/runners/random.ex
  test/spec/runners/rewards.ex
  test/spec/runners/sanity.ex
  test/spec/runners/shuffling.ex
  test/spec/runners/ssz_generic.ex
  test/spec/runners/ssz_static.ex
  test/spec/runners/sync.ex
Labels: electra

#1411 feat: checkpoint-sync-url now can be a list of checkpoint nodes
  README.md
  config/runtime.exs
  lib/lambda_ethereum_consensus/beacon/store_setup.ex
Labels: enhancement

#1426 feat: electra process_operations changes
  electra-gap.md
  lib/constants.ex
  lib/lambda_ethereum_consensus/state_transition/accessors.ex
  lib/lambda_ethereum_consensus/state_transition/mutators.ex
  lib/lambda_ethereum_consensus/state_transition/operations.ex
Labels: elixir, electra

#1428 feat: electra consolidations
  electra-gap.md
  lib/lambda_ethereum_consensus/state_transition/epoch_processing.ex
Labels: elixir, electra

#1447 chore: disable assertoor failing checks
  .github/config/assertoor/cl-stability-check.yml
  .github/config/assertoor/network-params.yml
Labels: electra

#1431 feat: electra withdrawals
  electra-gap.md
  lib/lambda_ethereum_consensus/state_transition/operations.ex
  lib/lambda_ethereum_consensus/validator/block_builder.ex
Labels: elixir, electra

#1438 feat: electra `MAX_BLOBS_PER_BLOCK_ELECTRA`
  .github/workflows/ci.yml
  config/networks/mainnet/config.yaml
  config/networks/minimal/config.yaml
  electra-gap.md
  lib/lambda_ethereum_consensus/state_transition/operations.ex
  test/spec/runners/fork_choice.ex
Labels: elixir, electra
